<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
	<div class="container clearfix">
		<div class="social-links float-right">
			<a href="#" class="twitter">
				<i class="icofont-twitter"></i>
			</a>
			<a href="#" class="facebook">
				<i class="icofont-facebook"></i>
			</a>
			<a href="#" class="instagram">
				<i class="icofont-instagram"></i>
			</a>
			<a href="#" class="skype">
				<i class="icofont-skype"></i>
			</a>
			<a href="https://www.linkedin.com/in/decores-en-action-676842101/" class="linkedin">
				<i class="icofont-linkedin"></i>
			</a>
			<a href="http://fr.viadeo.com/fr/profile/decores.en.action" class="viadeo">
				<i class="icofont-viadeo"></i>
			</a>
		</a>
	</div>
	<div class="contact-info float-right">
		<i class="icofont-envelope"></i>
		<a href="mailto:decoresenaction@gmail.com">decoresenaction@gmail.com</a>
		<i class="icofont-phone"></i><a href="tel:+33622691670">06 22 69 16 70</a>
	</div>
</div></section><!-- ======= Header ======= --><header id="header">
<div class="container">

	<div class="logo float-left">{# <h1 class="text-light"><a href="index.html"><span>Mamba</span></a></h1> #}
		<!-- Uncomment below if you prefer to use an image logo -->
	<img src="assets/images/logo.png" alt="" class="img-fluid"> </a>
</div>

<nav class="nav-menu float-right d-none d-lg-block">
	<ul>
		<li>
			<a class="nav-link" href="{{path('accueil') }}">Accueil</a>
		</li>
		<li class="drop-down">
			<a href="{{path('qui_etes_vous') }}">Qui êtes vous ?
			</a>
			<ul>
				<li><a href="{{path('parrain') }}">Parrain</a></li>
				<li><a href="{{path('candidat') }}">Candidat</a></li>
				<li><a href="{{path('entreprise') }}">Entreprise</a></li>
			</ul>
		</li>
		<li class="drop-down">
			<a href="#">Les Projets</a>
			<ul>
				<li><a href="{{path('quisommesnous')}}">Qui sommes nous ?</a></li>
				<li><a href="{{path('actualites')}}">Actualités</a></li>
			</ul>
		</li>
		<li><a href="{{path('contact') }}">Contact</a></li>
		{# {% if (app.user.email is defined) %}
			{# <li class="nav-item">
				<a class="nav-link" href="{{path('app_logout') }}">Déconnexion</a>
			</li> #}
		{# {% else %} #}
			{# <li class="nav-item">
				<a class="nav-link" href="{{path('app_login') }}">Connexion</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_register') }}">Inscription</a>
			</li> #}
		{# {% endif %} #}


	</ul>
</nav>
<!-- .nav-menu --></div></header><!-- End Header --><section id="hero"><div class="hero-container">
<div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

	<ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

	<div
		class="carousel-inner" role="listbox">

		<!-- Slide 1 -->
		<div class="carousel-item active" style="background-image: url('assets/images/slide/slide-1.jpg');">
			<div class="carousel-container">
				<div class="carousel-content container">
					<h2 class="animated fadeInDown">Informations sur l'accès à l'apprentissage</h2>
					<p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
					<a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
				</div>
			</div>
		</div>

		<!-- Slide 2 -->
		<div class="carousel-item" style="background-image: url('assets/images/slide/slide-2.jpg');">
			<div class="carousel-container">
				<div class="carousel-content container">
					<h2 class="animated fadeInDown">Initiation à la Citoyenneté</h2>
					<p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
					<a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
				</div>
			</div>
		</div>

		<!-- Slide 3 -->
		<div class="carousel-item" style="background-image: url('assets/images/slide/slide-3.jpg');">
			<div class="carousel-container">
				<div class="carousel-content container">
					<h2 class="animated fadeInDown">Un avenir Ensemble</h2>
					<p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
					<a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
				</div>
			</div>
		</div>

		<!-- Slide 4 -->
		<div class="carousel-item" style="background-image: url('assets/images/slide/slide-4.jpg');">
			<div class="carousel-container">
				<div class="carousel-content container">
					<h2 class="animated fadeInDown">Les jeunes en marche vers l'emploi</h2>
					<p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
					<a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
				</div>
			</div>
		</div>

	</div>

	<a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>

</div></div></section><!-- End Hero -->
